aiohttp
aiosignal
asttokens
datasets
huggingface-hub
matplotlib
networkx
numpy
openai
pandas
Pillow
PyYAML
scikit-learn
scipy
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typing_extensions