aiohttp
aiosignal
asttokens
datasets
huggingface-hub
matplotlib
networkx
numpy
openai==0.27.7
pandas
Pillow
PyYAML
scikit-learn
scipy
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typing_extensions
t5