accelerate
aiohttp
aiosignal
appdirs==1.4.4
asttokens
async-timeout
attrs
backcall
backports.functools-lru-cache
Bottleneck
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
contourpy==1.1.0
cryptography
cycler==0.11.0
datasets
debugpy
decorator
dill
dnspython==2.4.2
entrypoints
executing
filelock
fonttools==4.42.1
frozenlist
fsspec
gmpy2
huggingface-hub
idna
importlib-resources==6.0.1
ipykernel
ipython
jedi
Jinja2
joblib
jupyter-client
jupyter_core
kiwisolver==1.4.4
MarkupSafe
matplotlib==3.7.2
matplotlib-inline
mpmath==1.2.1
multidict
multiprocess
nest-asyncio
networkx
numexpr
numpy
packaging
pandas==1.5.3
parso
pexpect
pickleshare
Pillow==9.4.0
pooch
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow==11.0.0
pycparser
Pygments
pymongo==4.5.0
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
responses
sacremoses
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
sentencepiece
six
stack-data
sympy
threadpoolctl==3.2.0
tokenizers
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado
tqdm
traitlets
transformers
triton==2.0.0
typing_extensions==4.7.1
urllib3
wcwidth
xxhash
yarl
zipp==3.16.2
git+https://github.com/davidbau/baukit